*{
    margin: 0;
    padding: 0;
}
nav{
    background: tomato;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
nav ul{
    width: 600px;
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
  
}
nav ul li{
    display: inline-block;
    transition: all .4s ease;
    margin-left: -5px;
}
nav ul li:hover{
    background: #000;
}
nav ul li a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
}
nav ul li{
    position: relative;
}
nav ul li ul{
    position: absolute;
    top: 120%;
    left: 0;
    width: 200px;
    background-color: #000;
    visibility: hidden;
    opacity: 0;
    transform: scale(0) rotate(30deg);
    transform-origin: top center;
    transition: all .4s ;
}
nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
nav ul li ul li{
    display: block;
    margin-left: 0;

}
nav ul li ul li a{
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    transition: all .4s ease;
}

nav ul li ul li a:hover{
    color: #fff;
    background:#f4c613;
}